$primary: #0C8CF6;
$secondary: #64b5f6;
$success: #4caf50;
$error: #ef5350;
$warning: #ff9800;
$transparent: rgba(255, 255, 255, 0);
$white: #FFFFFF;
$facebook: #3b5998;

.pull-right {
    float: right;
}

.btn-fixed-bottom {
    position: fixed;
    right: 23px;
    bottom: 23px;
}

.date-picker {
    padding-right : 18px;
    height        : 58px !important;
    margin-top    : 8px !important;

    label {
        left  : 33px !important;
        right : 0 !important;
        width : calc(100% - 33px) !important;
    }

    .md-datepicker {
        display     : inline-block;
        width       : 100%;
        margin-left : 26px;
        height      : 0;

        .md-datepicker-button {
            float       : left;
            margin-top  : -12.5px;
            margin-left : -33px;
        }

        .md-datepicker-input-container {
            width : 100%;
            top   : -14px;
            right : 17px;

            .md-datepicker-input {
                max-width : 100% !important;
                min-width : 100% !important;
            }

            .md-datepicker-expand-triangle {
                border-left  : 4px solid transparent;
                border-right : 4px solid transparent;
                border-top   : 4px solid;
            }
        }
    }

    .md-input-messages-animation {
        .md-input-message-animation {
            opacity     : 1;
            margin-top  : 6px !important;
            margin-left : 34px !important;
        }
    }
}


nav {
    li {
        min-width: 200px;
    }

    .brand-logo {
        i {
            font-size: 36px;
        }
    }

    #clock {
        margin-left: 35px;
    }
}

.fb {
    background: $facebook;
}

.waves-effect.waves-fb {
    background-color: rgba(59, 89, 152, 1);
}
/* Override colors */
.input-field .prefix.active {
    color: $primary;
}

input[type=password]:focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: $primary;
}

input[type=password]:focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 $primary;
}

#toast-container {
    top: 80%;
}

.toast-info {
    background-color: $primary;
}

.toast-success {
    background-color: $success;
}

.toast-warning {
    background-color: $warning;
}

.toast-error {
    background-color: $error;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: $secondary;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: $primary;
}
